div .info{
    position: fixed;
    bottom: 0;
    align-items: center;
    background: black;
    left: 0;
    width: 100%;
    text-align: center;
    color: palegoldenrod;
}
div .info a{
    text-transform: uppercase;
    color: palegoldenrod;
}